a.arrow {
	padding-top: 190px;
	color: white;
}

#title img {
	margin-top:-10px;
	margin-right:10px;
}

#title_sub {
	font-style: italic;
}

h2 .glyphicon {
	margin-right:14px;
}

.title_fr {
	color: gray;
}

h1 .slash {
	margin-left:28px;
	margin-right:28px;
	color: #606060;
}

.bracket {
	font-size: 14px;
}

h2 .slash {
	margin-left:14px;
	margin-right:14px;
	color: #606060;
}

#abstract {
	background: url(images/france-paris-la_defense.jpg) 50% 0 fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size : cover ;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding-top: 135px;
	padding-bottom: 100px;
}

#abstract .row{
	margin-top:-20px;
	margin-bottom:-10px;
}

#abstract h1 {
	font-size: 24px;
}

#abstract h2 {
	margin-top:-10px;
	font-size: 18px;
	color: gray;
}

#abstract h3 {
	font-size: 16px;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#process { 
	background-color: WhiteSmoke;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 90px 50px;
}

#process .actions-block {
	background-color: white;
}

#process h1, #more h1 {
	margin-top:-5px;
	font-size: 28px;
}

#demo { 
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 40%, rgba(0,0,0,0.2)), url(images/google-datacenter.jpg) 50% 0 fixed;
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 90px 0;
}

#more { 
	background: url(images/more.png) 50% 0 fixed; 
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 90px 0;
}

#more h2 {
	font-size: 18px;
	margin: 0;
}

#papers {
	padding: 20px 20px 0px 20px;
	background-color: white;
}

#jury {
	margin: 0 auto;
	max-width: 650px;
}

#jury h3 {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
}

#jury .dl-horizontal {
	margin-bottom: 0;
}

#more .btn .glyphicon {
	margin-left: 14px;
}

.border-top {
	border-top: 1px solid transparent;
	border-top-left-radius : 0px !important;
	border-top-right-radius : 0px !important;
}

.panel-heading {
	padding: 5px 15px !important;
}

.table-condensed td, .list-group-item {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.list-group-item {
	text-align: center;
	
}

.list-group {
	margin-bottom: 0 !important;
}

a.list-group-item:hover {
	background-color: #286090 !important;
	color: white !important;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.actions-block {
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.media-object {
	width: 64px; height: 64px; padding-bottom: 30px
}

.btn-onair {
	background-color: black;
	color: red;
	font-weight: bold;
}

.btn-onair:hover { 
	background-color: white;
	color: red;
}

.carousel {
	max-width:800px;
 }
 
.carousel-caption p {
	max-height: 16vh;
	overflow: hidden;
	text-overflow: ellipsis;
}
